@mixin cat($w, $h, $x, $y, $section, $slide, $isLeft) {
    background-image: url("./../img/#{$section}/gato-slide-#{$slide}.png");
    bottom: $y / $canvasHeight * 100%;
    height: $h / $canvasHeight * 100%;
    width: $w / $canvasWidth * 100%;

    @if $isLeft {
        left: $x / $canvasWidth * 100%;
    } @else {
        left: auto;
        right: $x / $canvasWidth * 100%;
    }

    &.erro {
        background: url("./../img/paisagem/jogo/gato_erro.png") no-repeat 0 0
            transparent;
        background-size: contain;
    }
}

.gato__help__ballon {
    background-color: white;
    border: 3px solid black;
    border-bottom-left-radius: 20px 200px;
    border-bottom-right-radius: 70px 200px;
    border-top-left-radius: 70px 200px;
    border-top-right-radius: 20px 200px;
    font-weight: bold;
    padding: 17px;
    position: absolute;
    width: 316px;

    &--top {
        left: 6%;
        top: 48%;
        transform: skew(10deg);

        &::after {
            border-bottom-left-radius: 30px 70px;
            height: 80px;
            right: 50%;
            top: 96%;
            transform: rotate(-25deg) skew(0deg, 25deg);
            width: 25px;
        }

        & > div {
            transform: skew(-10deg);
        }
    }

    &--left {
        left: 45%;
        top: 62%;
        transform: skew(10deg);

        &::after {
            border-bottom-right-radius: 20px 230px;
            height: 240px;
            right: 26em;
            top: 10%;
            transform: rotate(75deg) skew(0deg, 10deg);
            width: 17px;
        }

        & > div {
            transform: skew(-10deg);
        }
    }

    &::after {
        content: "";
        display: block;
        position: fixed;
        background: #ffffff;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-right: 3px solid black;
    }

    &--hide {
        opacity: 0;
        transition: visibility 0s 0.8s, opacity 0.8s linear;
        visibility: hidden;
    }

    &--show {
        opacity: 1;
        transition: opacity 0.8s linear;
        visibility: visible;
    }
}

.gato {
    background: url("./../img/gato.png") no-repeat 0 0 transparent;
    background-size: 100% auto;
    height: 182 / $canvasHeight * 100%;
    position: absolute;
    width: 197 / $canvasWidth * 100%;

    .gato__help {
        background-color: #a1ffff;
        border-radius: 25px;
        bottom: 0;
        font-size: 2.5em;
        font-weight: bold;
        height: 1.3em;
        left: 80%;
        position: absolute;
        width: 1.3em;

        span {
            bottom: 0;
            height: 55px;
            left: 25%;
            position: absolute;
        }

        &:hover {
            background-color: #a1ffff;
        }
    }

    .section--home & {
        left: 147 / $canvasWidth * 100%;
        bottom: 70 / $canvasHeight * 100%;
    }

    .slide > & {
        left: 276 / $canvasWidth * 100%;
        bottom: 26 / $canvasHeight * 100%;
    }

    .section--ibere > .slide & {
        left: 9%;
    }

    .section--ibere > .slide--3 > & {
        @include cat(504, 235, 50, 26, "ibere", 3, true);
    }

    .section--acervo > .slide--1 > & {
        @include cat(363, 361, 175, 60, "acervo", 1, true);
    }

    .section--acervo > .slide--2 > & {
        @include cat(476, 312, 91, 32, "acervo", 2, false);
    }

    .section--retratos > .slide--1 > & {
        @include cat(214, 357, 140, 34, "retratos", 1, false);
    }

    .section--retratos > .slide--2 > & {
        @include cat(282, 360, 127, 32, "retratos", 2, true);
    }

    .section--retratos > .slide--3 > & {
        @include cat(252, 448, 155, 50, "retratos", 3, true);
    }

    .section--retratos > .slide--4 > & {
        @include cat(280, 444, 100, 41, "retratos", 4, false);
    }

    .section--retratos > .slide--5 > &,
    .section--retratos > .slide--6 > & {
        @include cat(206, 196, 199, 56, "retratos", 5, true);
    }

    .section--retratos > .slide--7 > & {
        @include cat(335, 539, 139, 56, "retratos", 7, true);
    }

    .section--retratos > .slide--8 > & {
        @include cat(139, 129, 49, 69, "retratos", 8, false);
    }

    .section--retratos > .slide--9 > & {
        @include cat(261, 356, 74, 24, "retratos", 9, true);
    }

    .section--idiotas > .slide--1 > & {
        @include cat(277, 331, 220, 52, "idiotas", 1, false);
    }

    .section--idiotas > .slide--2 > & {
        @include cat(377, 364, 195, 10, "idiotas", 2, true);
    }

    .section--idiotas > .slide--3 > & {
        @include cat(257, 169, 132, 36, "idiotas", 3, true);
    }

    .section--idiotas > .slide--4 > & {
        @include cat(534, 225, 362, 5, "idiotas", 4, true);
    }

    .section--idiotas > .slide--5 > & {
        @include cat(354, 182, 33, 61, "idiotas", 5, false);
    }

    .section--idiotas > .slide--6 > & {
        @include cat(383, 212, 15, 20, "idiotas", 6, true);
    }

    .section--idiotas > .slide--7 > & {
        @include cat(390, 206, 15, 20, "idiotas", 7, true);
    }

    .section--idiotas > .slide--8 > & {
        @include cat(390, 206, 15, 20, "idiotas", 8, true);
    }

    .section--idiotas > .slide--9 > & {
        @include cat(206, 196, 43, 46, "idiotas", 9, true);
    }

    .section--idiotas > .slide--10 > & {
        @include cat(139, 129, 49, 69, "idiotas", 10, false);
    }

    .section--idiotas > .slide--11 > & {
        @include cat(424, 247, 49, 51, "idiotas", 11, false);
    }

    .section--ciclistas > .slide--1 > & {
        @include cat(426, 261, 102, 17, "ciclistas", 1, true);
    }

    .section--ciclistas > .slide--2 > & {
        @include cat(257, 169, 82, 43, "ciclistas", 2, false);
    }

    .section--ciclistas > .slide--4 > & {
        @include cat(255, 370, 90, 37, "ciclistas", 4, true);
    }

    .section--ciclistas > .slide--5 > & {
        @include cat(206, 196, 171, 51, "ciclistas", 5, false);
    }

    .section--ciclistas > .slide--6 > & {
        @include cat(139, 129, 49, 69, "ciclistas", 6, false);
    }

    .section--ciclistas > .slide--7 > & {
        @include cat(349, 552, 64, 14, "ciclistas", 7, true);
    }

    .section--natureza > .slide--1 > & {
        @include cat(299, 248, 67, 48, "natureza", 1, false);
    }

    .section--paisagem > .slide--1 > & {
        @include cat(340, 391, 412, 57, "paisagem", 1, false);
    }

    .section--paisagem > .slide--2 > & {
        @include cat(265, 315, 64, 49, "paisagem", 2, true);
    }

    .section--paisagem > .slide--3 > & {
        @include cat(494, 256, 53, 44, "paisagem", 3, false);
    }

    .section--paisagem > .slide--4 > & {
        @include cat(369, 435, 25, 50, "paisagem", 4, true);
    }

    .section--paisagem > .slide--5 > &,
    .section--paisagem > .slide--6 > & {
        @include cat(415, 272, 32, 5, "paisagem", 5, true);
        background-image: url("./../img/paisagem/gato-slide-5.gif");
    }

    .section--paisagem > .slide--7 > & {
        @include cat(139, 129, 49, 71, "paisagem", 7, false);
    }

    .section--paisagem > .slide--8 > & {
        @include cat(635, 239, 43, 50, "paisagem", 8, true);
    }

    .section--manequins > .slide--1 > & {
        @include cat(349, 552, 64, -120, "manequins", 1, true);
    }

    .section--natureza > .slide--2 > & {
        @include cat(319, 333, 71, 18, "natureza", 2, true);
    }

    .section--natureza > .slide--3 > & {
        @include cat(218, 423, 110, 20, "natureza", 3, false);
    }

    .section--natureza > .slide--4 > & {
        @include cat(206, 196, 110, 60, "natureza", 4, false);
    }

    .section--natureza > .slide--5 > & {
        @include cat(304, 322, 112, 36, "natureza", 5, true);
    }

    .section--natureza > .slide--6 > & {
        @include cat(230, 299, 40, 30, "natureza", 6, false);
    }

    .section--natureza > .slide--7 > & {
        @include cat(306, 357, 40, 30, "natureza", 7, true);
    }

    .section--manequins > .slide--1 > & {
        @include cat(349, 552, 64, -120, "manequins", 1, true);
    }

    .section--manequins > .slide--2 > & {
        @include cat(206, 196, 64, 35, "manequins", 2, true);
    }

    .section--carreteis > .slide--2 > &,
    .section--carreteis > .slide--3 > & {
        @include cat(452, 230, 60, 45, "carreteis", 2, true);
    }

    .section--manequins > .slide--3 > & {
        @include cat(522, 260, 64, 14, "manequins", 3, false);
    }

    .section--manequins > .slide--4 > & {
        @include cat(230, 360, 75, -15, "manequins", 4, true);
    }

    .section--manequins > .slide--5 > & {
        @include cat(366, 353, 100, 35, "manequins", 5, true);
    }

    .section--manequins > .slide--7 > & {
        @include cat(500, 313, 100, 10, "manequins", 7, false);
    }

    .section--carreteis > .slide--1 > & {
        @include cat(347, 462, 40, 45, "carreteis", 1, false);
    }

    .section--carreteis > .slide--2 > &,
    .section--carreteis > .slide--3 > & {
        @include cat(452, 230, 60, 45, "carreteis", 2, true);
    }

    .section--carreteis > .slide--4 > & {
        @include cat(322, 470, 135, 25, "carreteis", 4, true);
    }

    .section--carreteis > .slide--5 > & {
        @include cat(206, 196, 95, 45, "carreteis", 5, true);
    }

    .section--carreteis > .slide--6 > & {
        @include cat(197, 182, 95, 45, "carreteis", 6, true);
    }

    .section--carreteis > .slide--7 > & {
        @include cat(139, 129, 95, 45, "carreteis", 7, false);
    }

    .section--carreteis > .slide--8 > & {
        @include cat(482, 350, 47, 14, "carreteis", 8, false);
    }

    .section--natureza > .slide--8 & {
        @include cat(150, 248, 67, -30, "natureza", 8, false);
    }

    .section--natureza > .slide--9 & {
        @include cat(600, 248, 67, 30, "natureza", 9, false);
    }
}
