.datasheet {
    background-color: $white;
    box-shadow: 0 0 12px 6px rgba($primary, .5);
    bottom: -100vh;
    color: $black;
    font-size: 14px;;
    left: 0;
    padding: 15px 0;
    position: absolute;
    transition: bottom 750ms ease-in-out;
    width: 100%;
    z-index: 2;

    &.open {
        bottom: 0;
    }
}

.datasheet__text {
    line-height: 1.35;
    max-width: 95%;
}

.datasheet__list {
    list-style: none;
    margin: 0;
    padding: 0;

    & + & {
        margin-top: 20px;
    }

    & > li { line-height: 1.35; }
}
