.slide {
    height: 100%;
    font-size: 16px;

    &.hide {
        display: none;
    }

    &.floor-base {
        .slide__container {
            justify-content: flex-end;

            & > .row {
                margin-bottom: 150 / $canvasHeight * 100%;
            }
        }
    }

    &.header-base {
        .slide__container {
            justify-content: flex-start;

            & > .row:first-child {
                margin-top: 70 / $canvasHeight * 100%;
            }
        }
    }
}

.slide__control {
    background: no-repeat 0 0 transparent;
    background-size: contain;
    border: 0;
    display: block;
    font-size: 0;
    height: 170 / $canvasHeight * 100%;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    top: 50%;
    transform: translateY(-50%);
    width: 119 / $canvasWidth * 100%;
    z-index: 2;
    position: fixed;

    &--prev {
        background-image: url('./../img/btn-prev.png');
        left: 0;
    }

    &--next {
        background-image: url('./../img/btn-next.png');
        right: 0;
        background-position: 100%;
    }

    &:active,
    &:focus,
    &:hover {
        outline: 0;
    }
}
.page-wrapper{
    &.modal-show-bg{

        .gato,
        .gallery__title,
        .slide__container .slide__figure {
            opacity: 0.3;
            pointer-events: none;
        }

        .slide__control {
            display: none;
        }
    }
}

.slide__title--tag{
    display: flex;
    justify-content: center;
    left: 0;
    line-height: 1;
    margin-bottom: 0;
    position: absolute;
    top: 20%;
    width: 120 / $canvasWidth * 100%;

    &.slide__title--curiosidades{
        display: none;
        width: 160 / $canvasWidth * 100%;
    }
    
.no-bg{

    .slide__title--tag{
        display: none;
    }
}
.page-wrapper--curiosities {

    .slide__title--tag{
        display: none;

        &.slide__title--curiosidades{
            display: block;
        }
    }
}

.slide__title {
    align-items: center;
    background: no-repeat 0 0 transparent;
    color: $black;
    display: flex;
    justify-content: center;
    left: 0;
    line-height: 1;
    margin-bottom: 0;
    position: absolute;

    &.slide__title--curiosidades {
        align-items: flex-start !important;
        background-image: url('./../img/idiotas/bg-curiosidades.png') !important;
        height: 74 / $canvasHeight * 100% !important;
        justify-content: flex-start !important;
        top: 94 / $canvasHeight * 100% !important;
        width: 232 / $canvasWidth * 100% !important;

        & > span {
            margin-left: 6%;
            margin-top: 7%;
        }
    }

    .break {
        display: block;
    }
}

.slide__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100% - ((170 / $canvasWidth * 100%) * 2);

    .section--gallery & {
        width: 100% - ((120 / $canvasWidth * 100%) * 2);
    }

    & > .row + .row {
        margin-top: 5px;
    }

    &.slide__container--top-aligned {
        justify-content: flex-start;
        margin-top: 50 / $canvasHeight * 100% !important;
    }
}

.slide__figure {
    margin-bottom: 0;


    & > img {
        border-radius: 4px;
        height: auto;
        max-width: 100%;
    }

    & > figcaption {
        margin-top: 5px;
        width: 100%;
        position: relative;
    }

     span.p--right {
        position: absolute;
        right: 0;
        top: 0;
    }

    .gallery & {
        box-shadow: 0 0 10px 2px rgba($black, .2);
    }
}

.slide__text {
    line-height: 1.35;
    margin-bottom: 0;

    & + & {
        margin-top: 20px;
    }

    & > .break { display: block; }
}
