.gato {
    .section--home & {
        background: url('./../img/home/gato.png') no-repeat 0 0 transparent;
        background-size: 100% auto;
        position: absolute;
        height: 182 / $canvasHeight * 100%;
        left: 147 / $canvasWidth * 100%;
        bottom: 70 / $canvasHeight * 100%;
        width: 197 / $canvasWidth * 100%;
    }
}
