$enable-responsive-font-sizes: true;

$primary: #691E20;
$body-bg: $primary;
$body-color: $primary;

$acervo: #D8CFAD;
$carreteis: #F8941D;
$ciclistas: #EC602E;
$ibere: #9C7D7D;
$idiotas: #9470A2;
$manequins: #89B3DD;
$natureza-morta: #F08469;
$paisagem: #BBDD89;
$retratos: #F7DD58;

$canvasHeight: 875;
$canvasWidth: 1280;

$font-family-base: Helvetica, Arial, sans-serif;
