$enable-responsive-font-sizes: true;

$primary: #691E20;
$body-bg: $primary;
$body-color: $primary;

$acervo: #f0ebd1;
$carreteis: #ffd933;
$ciclistas: #fda250;
$ibere: #e2c9c9;
$idiotas: #dcbbe5;
$manequins: #c8e7f8;
$natureza-morta: #fdc9ab;
$paisagem: #e4f6bb;
$retratos: #fefa98;

$canvasHeight: 875;
$canvasWidth: 1280;

$font-family-base: Helvetica, Arial, sans-serif;
