.section--idiotas {
    .slide__title {
        background-image: url('./../img/idiotas/bg-secao.png');
        background-size: contain;
        font-weight: bold;
        height: 75 / $canvasHeight * 100%;
        top: 96 / $canvasHeight * 100%;
        width: 90 / $canvasWidth * 100%;

        @include viewport-font(2.1875vw, 20px, 28px);
    }

    .slide--4 .slide__figure > figcaption,
    .slide--6 .slide__figure > figcaption,
    .slide--7 .slide__figure > figcaption,
    .slide--8 .slide__figure > figcaption {
        text-align: right;
    }

    .swap__actions {
        margin: 0 0 0 20px;
    }

    .swap__btn {
        &--amarelo {
            background-image: url('./../img/idiotas/btn-amarelo.png');
            height: 40px;
            width: 41px;
        }

        &--vermelho {
            background-image: url('./../img/idiotas/btn-vermelho.png');
            height: 37px;
            width: 36px;
        }

        &--verde {
            background-image: url('./../img/idiotas/btn-verde.png');
            height: 36px;
            width: 35px;
        }

        &--praia {
            background-image: url('./../img/idiotas/btn-praia.png');
            height: 40px;
            width: 40px;
        }

        &--parque {
            background-image: url('./../img/idiotas/btn-parque.png');
            height: 38px;
            width: 30px;
        }

        &--sala {
            background-image: url('./../img/idiotas/btn-sala.png');
            height: 38px;
            width: 38px;
        }
    }
}
