.section--manequins {
    background: url('./../img/chao.png') no-repeat center bottom transparent;
    background-size: contain;

    .slide__title {
        align-items: flex-end;
        background-image: url('./../img/manequins/slide_manequins.png');
        background-size: contain;
        font-weight: bold;
        height: 88 / $canvasHeight * 100%;
        top: 80 / $canvasHeight * 100%;
        width: 155 / $canvasWidth * 100%;

        @include viewport-font(2.1875vw, 20px, 25px);

        & > span {
            margin-bottom: 32px;
        }
    }

    .zoom {
        width: 100%;
        height: 100%;
    }

    .slide--1 .slide__figure > figcaption {
        text-align: right;
        font-size: 75%;
        margin-bottom: 5%;
    }

    .slide--5 .slide__figure > figcaption {
        margin-bottom: 65px;
    }

}