.section--manequins {
    .slide__title {
        align-items: flex-end;
        background-image: url('./../img/manequins/slide_manequins.png');
        background-size: contain;
        font-weight: bold;
        height: 88 / $canvasHeight * 100%;
        top: 80 / $canvasHeight * 100%;
        width: 155 / $canvasWidth * 100%;

        @include viewport-font(2.1875vw, 20px, 25px);

        & > span { margin-bottom: 32px; }
    }

    .magnify {
        & > .magnify-lens {
            box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

            &:after {
                background: black;
                bottom: -28px;
                content: '';
                height: 8px;
                position: absolute;
                right: -95px;
                transform: rotate(45deg);
                width: 140px;
            }
        }
    }

    .zoom {
        height: 100%;
        width: 100%;
    }

    .slide--1 .slide__figure > figcaption {
        margin-bottom: 5%;
        text-align: right;
    }

    .slide--5 div:not(.modal-body) .slide__figure {
        margin-bottom: 100px;
    }

    .slide--5 .slide__figure > figcaption { margin-bottom: 65px; }
}
