.section--natureza {
  background: url("./../img/chao.png") no-repeat center bottom transparent;
  background-size: contain;

  .slide__title {
    align-items: flex-end;
    background-image: url("./../img/natureza/bg-secao.png");
    background-size: contain;
    font-weight: bold;
    height: 78 / $canvasHeight * 100%;
    top: 72 / $canvasHeight * 100%;
    width: 242 / $canvasWidth * 100%;

    @include viewport-font(2.1875vw, 20px, 28px);

    & > span {
      margin-bottom: 10px;
    }
  }

  .lights {
    text-align: center;
    .light__item {
      position: absolute;
      display: block;
      top: 250 / $canvasHeight * 100%;

      &.light__item--btn1 {
        left: 0;
      }

      &.light__item--btn1:not(.active) {
        margin-top: 8px;
      }

      &.light__item--btn2 {
        text-align: center;
        right: 0;
        left: 0;
        top: 0;
        display: block;
        img {
          height: 90 / $canvasHeight * 100%;
          vertical-align: bottom;
        }
      }

      &.light__item--btn3 {
        right: 30 / $canvasWidth * 100%;
      }

      &.active {
        .light__off {
          display: none;
        }
        .light__on {
          display: block;
          margin: 0 auto;
        }
      }

      .light__on {
        display: none;
      }
    }
    .slide__figure {
      padding-bottom: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("/../img/natureza/Luzes/sombra.png");

      &.shadow--1 {
        background-image: url("/../img/natureza/Luzes/sombra1.png");

        &.shadow--2 {
          background-image: url("/../img/natureza/Luzes/sombra1-2.png");

          &.shadow--3 {
            background-image: url("/../img/natureza/Luzes/sombra1-2-3.png");
          }
        }

        &.shadow--3 {
          background-image: url("/../img/natureza/Luzes/sombra1-3.png");
        }
      }

      &.shadow--2 {
        background-image: url("/../img/natureza/Luzes/sombra2.png");

        &.shadow--3 {
          background-image: url("/../img/natureza/Luzes/sombra2-3.png");
        }
      }

      &.shadow--3 {
        background-image: url("/../img/natureza/Luzes/sombra3.png");
      }
    }
  }

  .slide__interaction--swap {
    & > figure:nth-child(1) {
      cursor: pointer;
    }
    & > figure:nth-child(2) img:nth-child(2) {
      position: absolute;
      right: 180 / $canvasHeight * 100%;
      top: 250 / $canvasHeight * 100%;
    }
  }
  .slide__button {
    cursor: pointer;
    text-align: center;
  }

  .slide--6 {
    .slide__figure {
      .magnify {
        margin: 0 auto;
        display: block;
        .magnify-lens {
          box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25),
            inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
          &:after {
            content: "";
            background: black;
            width: 140px;
            height: 8px;
            transform: rotate(45deg);
            position: absolute;
            bottom: -28px;
            right: -95px;
          }
        }
      }
      img {
        margin: 40px auto;
        display: block;
        margin-top: -90 / $canvasHeight * 100%;
        height: 100%;
      }
    }
  }
}
