.section--paisagem {
    background: url('./../img/paisagem/mapa.png') no-repeat center bottom #FFF;
    background-size: contain;

    .gato{
        p{
            display: none;
            position: absolute;
            background:white;
            font-weight: bold;
            font-size: 18px;
            top: 30 / $canvasWidth * 100%;;
            right: 20 / $canvasWidth * 100%;;
            padding: 10px;
            border-radius: 100%;
            text-align: center;
        }
    }
    .slide__title {
        background-image: url('./../img/paisagem/bg-secao.png');
        background-size: contain;
        font-weight: bold;
        height: 89 / $canvasHeight * 100%;
        top: 108 / $canvasHeight * 100%;
        width: 188 / $canvasWidth * 100%;

        @include viewport-font(2.1875vw, 20px, 28px);
    }

    .slide:not(.gallery) {
        background: url('./../img/paisagem/chao.png') no-repeat center bottom #FFF;
        background-size: contain;
    }

    .slide--1 {
        background-color: transparent !important;
    }

    .slide--4 .slide__figure>figcaption,
    .slide--6 .slide__figure>figcaption,
    .slide--7 .slide__figure>figcaption,
    .slide--8 .slide__figure>figcaption {
        text-align: right;
    }

    .swap__actions {
        margin: 0 20px 0 0;
    }

    .swap__btn {
        &--dia {
            background-image: url('./../img/paisagem/btn-dia.png');
            height: 48px;
            width: 47px;
        }

        &--noite {
            background-image: url('./../img/paisagem/btn-noite.png');
            height: 60px;
            width: 55px;
        }
    }
    .slide__figure {
        margin-bottom: 15px;

        &>figcaption {
            margin-top: -12px;
            margin-right: 11px;
            font-weight: bold;
        }

        &>img {
            cursor: pointer;
            outline: 16px solid #FFF;
            outline-offset: -14px;
        }
        &.right-answer{
            opacity: 1 !important;
            pointer-events: none !important;
            img{
                outline: none;
            }
        }
    }

    .images-left {
        .slide__figure {
            transition: 0.5s ease-in-out;

            &.selected {
                img {
                    outline: none;
                }
            }

            &.unselected {
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }

    .images-right .slide__figure {
        opacity: 0.5;
        pointer-events: none;
        transition: 0.5s ease-in-out;

        &.selectable {
            pointer-events: all;
            opacity: 1;
        }
    }
}