.page-wrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
    background: url("./../img/chao_v2.jpg") no-repeat center bottom transparent;

    &.no-bg {
        background: none;
    }

    &.page-wrapper--gallery {
        background-image: url("./../img/galeria.jpg") !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 170% 100%;
        @media (min-width: 1200px) {
            background-size: 140% 100%;
        }
        @media (min-width: 1366px) {
            background-size: 120% 100%;
        }
        @media (min-width: 1450px) {
            background-size: 100% 100%;
        }
    }

    @media (min-width: 1200px) and (max-height: 875px) {
        align-items: flex-start;
    }
}

.section {
    display: block;
    height: 100vw / 256 * 175;
    max-height: $canvasHeight * 1px;
    max-width: $canvasWidth * 1px;
    overflow: hidden;
    position: absolute;
    width: 100%;

    &.section-scaled {
        top: 0;
    }

    &.section-visible {
        visibility: visible;
    }
}

.logo {
    background: url("./../img/fundacao-ibere-camargo.png") no-repeat 0 0
        transparent;
    background-size: contain;
    font-size: 0;
    height: 29 / $canvasHeight * 100%;
    left: 24 / $canvasWidth * 100%;
    margin-bottom: 0;
    overflow: hidden;
    position: fixed;
    text-indent: -9999px;
    top: 17 / $canvasHeight * 100%;
    width: 300 / $canvasWidth * 100%;
    z-index: 9999;
}

.row + .row {
    margin-top: 15px;
}

.text-right {
    text-align: right;
}

.negative-margin-top {
    margin-top: -85 / $canvasHeight * 100%;
}

.slide__back-home {
    height: 40 / $canvasWidth * 100%;
    min-height: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40 / $canvasWidth * 100%;
    z-index: 9999;
}
